<%- include('partials/admin_header'); -%>
        
            <div class="container">
                <h1 class="page_head">Edit Comment:</h1>
                <form action="/admin/edit_comment" method="POST">
                    <div class="row">
                        
                        <div class="col-9 mb-3">
                            <label for="commentAuthor" class="form-label">Comment Author:</label>
                            <input type="hidden" class="form-control" id="commentAuthor" name="commentAuthor" value="<%= comment.author %>">
                            <input type="hidden" class="form-control" id="commentId" name="commentId" value="<%= comment._id %>">
                            <h4><strong><%= comment.author %></strong></h4>
                        </div>
                        
                        <div class="col-9 mb-3">
                            <label for="blogTitle" class="form-label">Blog Title:</label>
                            <input type="hidden" class="form-control" id="blogTitle" name="blogTitle" value="<%= comment.blogpost_title %>" required>
                            <h4><strong><%= comment.blogpost_title %></strong></h4>
                        </div>
                        
                        <div class="col-9 mb-3">
                            <label for="blogContent" class="form-label" >Comment:</label>
                            <textarea class="form-control mt-3" name="comment" id="" rows="3" placeholder="Please enter your comment here..." maxlength="400" required><%= comment.comment %></textarea>
                            <label class="subscript"> (Max 400 characters)</label>
                        </div>
                        
                        <div class="col-9 mt-3 mb-3">
                            <button class="btn-post-submit" type="submit">Submit</button>
                        </div>    
                    </div>   
                </form>
            </div> 

<%- include('partials/admin_footer'); -%>